.btn-h1-spece{

	margin-top: 18px;

}

.box {

	background-color: lightgrey;
	width: auto;
	height: auto;
	border: 5px solid green;
	padding: 5px;
	margin: 5px;

}


.blog_box {
	margin-top: 20px;
	margin-bottom: 40px;
	margin-left: 10px;
	background: #a7fece;
	padding: 20px;
}